<mat-toolbar color="primary" class="text-center">
  Juego de memoria de parejas 
</mat-toolbar>
<div class="p-16">
  <p class="text-center">Pincha en una carta para darle la vuelta. solo puedes girar dos cartas al mismo tiempo. ¡Si coinciden ambas cartas seran eliminadas!</p>
  <div class="text-center">
    <p> Selecciona dificultad del juego: </p>
    <form (ngSubmit) = "cambiarDificultad()">
    <input type="radio" id="Easy" name="dificultad" value="Facil" checked>
    <label for="easy">Facil</label>
    <input type="radio" id="Normal" name="dificultad" value="Normal">
    <label for="normal">Normal</label>
    <input type="radio" id="Hard" name="dificultad" value="Hard">
    <label for="hard">Dificil</label>
    </form>
  </div>
  <div class="grid p-16">
    <app-carta-juego *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
    </app-carta-juego>
  </div>
</div>